<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
   <add key="oneDriveResourceId" value="https://tscdev-my.sharepoint.com/"/>
   <add key ="oneDriveApiEndpoint" value="https://tscdev-my.sharepoint.com/_api/v2.0/"/>
   <add key ="graphResourceId" value="https://graph.microsoft.com/"/>
   <add key ="graphApiEndpoint" value="https://graph.microsoft.com/v1.0/"/>
</appSettings>
</configuration>